* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

/*-------------------  Header ------------------*/

.header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-around;
  padding: 12px 50px;
  align-items: center;
  box-sizing: border-box;
}

.header.seiri {
  background-color:black;
  color: white;
}

.header.seiri .logo {
  filter: invert();
}

.logo.krebs{
  filter: invert() drop-shadow(3px 3px 5px rgb(63, 156, 156));
}

.links ul {
  margin: 0px;
  padding: 0;
  display: flex;
  gap: 42px;
  list-style: none;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
}

.links a {
  text-decoration: none;
  color: white;
}

.logo-container {
  display: flex;
  gap: 9px;
  align-items: center;
}

.logo-text a {
  font-family: "Nova Square";
  font-size: 24px;
  text-decoration: none;
  color: white;
}

.logo-text a:hover {
  filter: drop-shadow(3px 3px 3px rgb(63, 156, 156));
  transition: 0.7s;
}

/*------------------- End Header ------------------*/

/*------------------- Inicio Content  ------------------*/

.hero-krebs {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding: 32px;
}

.hero-krebs button {
  padding: 6px;
  border-radius: 12px;
  background-color: #3882f6;
  border: #3882f6;
  color: white;
  font-weight: bold;
}

.hero-krebs-image img {
  border-radius: 50%;
  object-fit: cover;
  flex: 1 1 auto;
  max-width: 400px;
  height: 400px;
  filter: drop-shadow(5px 5px 100px rgb(63, 156, 156));
}

.hero-krebs-text {
  width: 400px;
}

.hero .hero-text h1 {
  font-size: 48px;
  font-weight: 900;
}

.info-head {
    text-align: center;
    padding: 18px;
}

.information {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding: 18px;
  flex-wrap: wrap;
}

.information img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #3882f6;
}

.motivation {
    background-color: #E5E7EB;
    padding: 120px;
    font-size: 36px;

}

.motivation .quote, 
.motivation .author{
    width: 500px;
    margin: 0 auto;

}

.motivation .author {
    font-weight: bold;
    text-align: end;
    font-size: 24px;
}

.callToActionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
    color: white;
}

.callToAction {
    width: 800px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
}

.callToAction button {
    border: 2px solid white;
    background-color: transparent;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
}


/* -------------- CONTENT SEIRI -----------*/
body {
  scroll-behavior: smooth;
}

.hero-seiri {
  background-color: black;
  color: white;
  font-size: 2.5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px 0;
}

.hero-seiri-text p{
  margin: 0 auto;
  width: 40vw;
}

.hero-seiri-img img{
  width: 40vw;
  border-radius: 10px;
}

.content-container-seiri {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.content-container-seiri aside {
  flex: 1;
  padding-right: 8%;
}

.content-container-seiri aside ul {
  line-height: 25px;
}

.aside-contacto ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 12px 0;
  align-items: center;
  justify-content: center;
  gap: 12px
}

.aside-contacto .icon {
  font-size: 28px;
}

.content-container-seiri a {
  text-decoration: none;
  color:#1f2937;
}

.content-container-seiri a:hover {
  text-decoration: none;
  color:#3e86ec;
}

.content-container-seiri main {
  flex: 4;
  height: 100vh;
  overflow: scroll;
}

.card  {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  padding: 24px 12px;
  border-bottom: 1px solid rgb(163, 163, 163);
}

.card-reverse  {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  padding: 24px 12px;
  border-bottom: 1px solid rgb(163, 163, 163);
  justify-content: center;

}

.card a, .card-reverse a {
  color: #3882f6;
  font-weight: 900;
} 

.card-text {
  flex: 1;
}

.card-img {
  flex: 1 2 50px;
}

