<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../seiri.ico">
    <title>Servicios de ingeniería residencial e industrial</title>


    <!--ICONOS DE BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Nova+Square&family=Nunito:wght@300;700&family=Rubik+Doodle+Shadow&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Roboto:wght@100;300;700;900&family=Signika+Negative:wght@300;500&display=swap"
        rel="stylesheet">


    <!--CSS PERSONALIZADO-->
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
    <header class="header seiri">
        <div class="logo-container">
            <div class="logo seiri">
                <a href="#"><img src="../img/seiri.png" width="50px" height="auto" alt="SEIRI"></a>
            </div>
            <div class="logo-text">
                <a href="#">SEIRI</a>
            </div>
        </div>

    </header>

    <div class="hero-seiri">
        <div class="hero-seiri-text">
            <p>Somos los expertos en mantenimiento, asegurando un futuro eficiente y sin contratiempos para tu empresa.
                <strong>¡Bienvenido a un mañana donde cuidamos de tu infraestructura!</strong>
            </p>
        </div>
        <div class="hero-seiri-img">
            <img src="../../static/img/seiri/multimetro.jpg" alt="">
        </div>
    </div>

    <div class="content-container-seiri">
        <aside>
            <div class="aside-inks">
                <h4>Catálogo de Servicios</h4>
                <ul>
                    <li><a href="#electricista">Electricidad</a></li>
                    <li><a href="#redes">Redes y comunicaciones</a></li>
                    <li><a href="#plomero">Fontanería</a></li>
                    <li><a href="#obrero">Albañilería</a></li>
                    <li><a href="#pintura">Impemeabilización y pintura</a></li>
                    <li><a href="#electronica">Electrónica de consumo</a></li>
                    <li><a href="#tablaroca">Tablaroca </a></li>
                </ul>
            </div>
            <div class="aside-contacto">
                <ul>
                    <li><a href=""><i class="icon bi bi-whatsapp"></i></a></li>
                    <li><a href=""><i class="icon bi bi-messenger"></i></a></li>
                    <li><a href="mailto:seiri.corp@gmail.com"><i class="icon bi bi-envelope-at-fill"></i></a></li>
                </ul>
            </div>

        </aside>

        <main class="content-seiri">
            <div id="electricista" class="card">
                <div class="card-img">
                    <img src="../img/seiri/electricista.jpg"
                        alt="El electricista se encuentra realizando la instalación del cableado para llevar energía a todas las partes del hogar"
                        title="Instalaciones residenciales e industriales." width="100%" height="auto">
                </div>
                <div class="card-text">
                    <h5><strong>Instalaciones eléctricas de todo tipo.</strong></h5>
                    <p>Nos adaptamos a sus necesidades para diseñar y mantener instalaciones eléctricas seguras.</p>
                </div>
            </div>
            <div id="redes" class="card-reverse">
                <div class="card-img">
                    <img src="../img/seiri/network.jpg" alt="Switch que distribuye una red de área local"
                        title="Centros de datos, intercomunicadores, intranet y redes locales." width="100%"
                        height="auto">
                </div>
                <div class="card-text">
                    <h5><strong>Redes y comunicaciones.</strong></h5>
                    <p>Garantizamos su conectividad y proporcionamos todo tipo de soluciones. <br> <a href="">Saber
                            más.</a></p>
                </div>
            </div>
            <div id="plomero" class="card">
                <div class="card-img">
                    <img src="../img/seiri/plomero.jpg" alt="Reparación en tuberías de agua."
                        title="Instalaciones de agua y gas." width="100%" height="auto">
                </div>
                <div class="card-text">
                    <h5><strong>Tuberías de agua y gas.</strong></h5>
                    <p>Redes de distribución libres de fugas.</p>
                </div>
            </div>
            <div id="obrero" class="card-reverse">
                <div class="card-img">
                    <img src="../img/seiri/herrero.jpg" alt="Herrero haciendo corte con esmeril"
                        title="Trabajos de construcción." width="100%" height="auto">
                </div>
                <div class="card-text">
                    <h5><strong>Herrería y construcción.</strong></h5>
                    <p>Acondicionamiento y restauración de espacios.</p>
                </div>
            </div>
            <div id="pintura" class="card">
                <div class="card-img">
                    <img src="../img/seiri/pintor.jpg" alt="Pintor dando acabado a un muro"
                        title="Pintura residencial y en espacios normados." width="100%" height="auto">
                </div>
                <div class="card-text">
                    <h5><strong>Pintura e impermeabilizantes.</strong></h5>
                    <p>Áreas protegidas y libres de humedad.</p>
                </div>
            </div>
            <div id="electronica" class="card-reverse">
                <div class="card-img">
                    <img src="../img/seiri/electronica.jpg" alt="Tarjeta electrónica."
                        title="Repación de TV, cómputo e impresión." width="100%" height="auto">
                </div>
                <div class="card-text">
                    <h5><strong>Electrónica de consumo</strong></h5>
                    <p>Reparación de equipos electrónicos.</p>
                </div>
            </div>
            <div id="tablaroca" class="card">
                <div class="card-img">
                    <img src="../img/seiri/drywall.jpg" alt="Instalación de muro y panel de tablaroca"
                        title="Muros de yeso y tablaroca" width="100%" height="auto">
                </div>
                <div class="card-text">
                    <h5><strong>Tablaroca</strong></h5>
                    <p>Instalación de muros y páneles.</p>
                </div>
            </div>
        </main>
    </div>